*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color :#333;
    padding: 1rem 2rem;
    align-items: center;
}
.logo{
    color:#fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.search-bar{
width: 50%;
font-size: 1.2rem;
padding:0.5rem 0.75rem;
outline: none;
border: none;
border-radius: 5px;
border: 1px solid #ccc;
color: #fff;
background-color: transparent;
}
.nav-icons{
    display: flex;
    list-style: none;
    gap: 1rem;
}
.nav-icons a{
    color: #fffe;
    font-size: 1rem;
    transition: 0.5s;
    text-decoration: none;
}
.nav-icons a:hover{
    color:aquamarine;
}
.categories {
    height: 2.5rem;
    background-color: rgb(228, 43, 33);
}
.category-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}
.category-links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
     transition: 0.5s linear;
}
 .category-links a:hover{
    color:blue ;
 }
 .category-links a i{
    margin-right: 0.6rem;
    margin-top: 0.5rem;
 }
.hero{
    background-image: url("hero4.png");
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding:0 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.hero h4{
    padding-bottom: 0.8rem;
    font-size: 1.5rem;
    color: rgb(216, 31, 83);
}
.hero h2{
    font: size 4rem;
}
.hero h1{
    font-size: 3.7rem;
    color: #088178;
    padding-bottom: 0.5rem;
}
.hero p{
    font-size: 1.2rem;
    color: rgb(31, 37, 165);
    padding-bottom: 1rem;
}
.hero button{
    background-image: url("button.png");
    background-color: transparent;
    background-size: cover;
    border: 0;
    font-size: 1.2rem;
    width: 20rem;
    height: 4rem;
    font-family:cursive;
    cursor: pointer;
    
}
.hero button:hover{
    color:#088178;
}
.featuers{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 2rem;
}
.featuers .fe-box{
    width:12rem;
    text-align: center;
    padding:2rem 1rem;
    border: 1px solid rgba(236, 198, 63, 0.933);
    border-radius: 6px;
    margin: 1rem 0;
    transition: 0.3s linear;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.05);
}
.featuers .fe-box h6{
    display: inline-block;
    padding: 9px;
    font-size: 0.8rem;
    background-color: #fddde4;
    color: #088178;
    border-radius: 5px;
}
.featuers .fe-box img{
    width:100%;
    margin-bottom: 0.7rem;
}
.featuers .fe-box:hover{
    transform:scale(1.05s);
    color: #088178;
    cursor: pointer;
}
.products{
    text-align: center;

}
.card-container{
    display: flex;
    justify-content: space-around;
    gap:1rem;
    padding: 2rem;
    flex-wrap: wrap;
    row-gap: 3rem;
}
.products h2{
    font-size: 2.5rem;
    color: #088178;
    margin-bottom: 2rem;
}
.products p{
    font-size: 1.1rem;
    color: grey;
    margin-bottom: 2rem;
}
.card{
    width: 25%;
    min-width:10rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.05);
    transition: 0.3s linear;
    position: relative;
}
.card:hover{
    transform: translateY(-10px);
    visibility: none;
}
.card img{
    width: 100%;
    border-radius: 15px;
}
.card .details{
    text-align: start;
}
.card .details span{
    color: gray;
}
.card .details h5{
    margin-top: 10px;
    font-size: 1rem;
    color: #555555;
}
.card .details i{
    color: orange;
    margin-bottom: 10px;
    cursor: pointer;
}
.card .details i:hover{
    color:rgb(192, 128, 9)
}
.card button{
    position: absolute;
    right: 1.4rem;
    bottom:1.7rem;
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    background-color: #088178;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");

:root {
  --light: #ffffff;
  --dark: #000;
}
.footer body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer h3 {
  font-family: "Noto Serif Display", serif;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: 0.3s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  display: inline-flex;
}
.footer a:hover {
  border-bottom: 1px solid var(--dark);
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer button {
  appearance: none;
  border: 0;
  background: transparent;
}
 .footer  .flex {
  display: flex;
}
.footer_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  border: none;
}
.footer_inner {
  background: var(--light);
  backdrop-filter: blur(50px);
  border: 0.1px solid rgba(233, 232, 232, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50vh;
}
 .footer .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

 .footer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 400px);
  border-bottom: 1px solid var(--dark);
}

 .footer input {
  padding: 0.75rem 0;
  border: none;
  background: none;
  font-weight: 500;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0;
  width: 100%;
  font-size: 1.05rem;
  font-weight: bolder;
}
 .footer input:focus {
  outline: none;
}
 .footer input::placeholder {
  color: var(--dark);
}
@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}
form {
  position: relative;
}
svg {
  margin: 0.5rem;
}
.c-2 {
  margin-top: 3.5rem;
}
.footer_copyright {
  color: var(--light);
}
